nav {
	display: block;
	margin-bottom: 10px;
}
nav ul {
	list-style: none;
	font-size: 14px;
}
nav ul li {
	display: inline;
}
nav ul li a {
	display: block;
	padding: 3px 6px;
	color: #575c7d;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover {
	background: #deff90;
	color: #485e0f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 6px;
	margin: 0;
	text-decoration: none;
}

table { border-collapse: collapse; border-spacing: 0; font-family: Verdana, Arial, sans-serif; }
caption { font-size: larger; margin: 1em auto; }
th, td { padding: .75em; }
th { background: linear-gradient(#ccc,##777); color: #fff; }
th:first-child { border-radius: 9px 0 0 0; }
th:last-child { border-radius: 0 9px 0 0; }
tr:last-child td:first-child { border-radius: 0 0 0 9px; }
tr:last-child td:last-child { border-radius: 0 0 9px 0; font-size: 10px }
tr:nth-child(odd) { background: #ccc; }
.text { font-size: 10px }

/* page core */
div#core {
	display: block;
	clear: both;
	margin-bottom: 20px;
}
section#left {
	width: 900px;
	float: left;
	margin: 0 15px;
}
section#right {
	float: left;
	width: 250px;
}

 
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

